.icon-icon-create {
    background-image: url('icons/icons.svg');
    background-position: 0 0;
    background-repeat: no-repeat
}

.icon-icon-create-dims {
    width: 31px;
    height: 37px
}

.icon-icon-cup {
    background-image: url('icons/icons.svg');
    background-position: 0 -37px;
    background-repeat: no-repeat
}

.icon-icon-cup-dims {
    width: 34px;
    height: 31px
}

.icon-icon-fb {
    background-image: url('icons/icons.svg');
    background-position: 0 -68px;
    background-repeat: no-repeat
}

.icon-icon-fb-dims {
    width: 9px;
    height: 17px
}

.icon-icon-gp {
    background-image: url('icons/icons.svg');
    background-position: 0 -85px;
    background-repeat: no-repeat
}

.icon-icon-gp-dims {
    width: 17px;
    height: 17px
}

.icon-icon-heart {
    background-image: url('icons/icons.svg');
    background-position: 0 -102px;
    background-repeat: no-repeat
}

.icon-icon-heart-dims {
    width: 14px;
    height: 12px
}

.icon-icon-price {
    background-image: url('icons/icons.svg');
    background-position: 0 -114px;
    background-repeat: no-repeat
}

.icon-icon-price-dims {
    width: 31px;
    height: 31px
}

.icon-icon-prize {
    background-image: url('icons/icons.svg');
    background-position: 0 -145px;
    background-repeat: no-repeat
}

.icon-icon-prize-dims {
    width: 46px;
    height: 43px
}

.icon-icon-tw {
    background-image: url('icons/icons.svg');
    background-position: 0 -188px;
    background-repeat: no-repeat
}

.icon-icon-tw-dims {
    width: 17px;
    height: 13px
}

.icon-icon-users {
    background-image: url('icons/icons.svg');
    background-position: 0 -201px;
    background-repeat: no-repeat
}

.icon-icon-users-dims {
    width: 45px;
    height: 42px
}


/* Icons from directory "" */

.icon-next-arr-s, .icon-next-arr-s\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 0;
    background-repeat: no-repeat
}

.icon-next-arr-s-dims {
    width: 10px;
    height: 17px
}

.icon-next-arr, .icon-next-arr\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 -17px;
    background-repeat: no-repeat
}

.icon-next-arr-dims {
    width: 14px;
    height: 23px
}

.icon-prev-arr-s, .icon-prev-arr-s\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 -40px;
    background-repeat: no-repeat
}

.icon-prev-arr-s-dims {
    width: 10px;
    height: 18px
}

.icon-prev-arr, .icon-prev-arr\:regular {
    background-image: url('icons/icons.svg');
    background-position: 0 -58px;
    background-repeat: no-repeat
}

.icon-prev-arr-dims {
    width: 14px;
    height: 23px
}
